@{
    ViewData["Title"] = "About";
}
<h2 style="color:#ffffff">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<style>
    html, body {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Cygnus_Wall.jpg/1835px-Cygnus_Wall.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -ms-content-zooming: none;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    div.transbox {
        margin: 30px;
        background-color: #000000;
        background: rgba(31, 29, 29, 0.71);
        padding: 10px;
    }

    a {
        color: #ffb4dd;
    }

    div.b {
        margin-left: 50px;
    }
</style>
<body>
    <div class="transbox">
        <p>
            <a href="#1">What is Apollo?</a><br />
            <a href="#2">Do I need to know anything about strategy card games or space technology to know how to play?</a><br />
            <a href="#3">On which platforms is Apollo available?</a><br />
            <a href="#4">How do I get my hands on this game?</a><br />
            <a href="#5">How can I play this game on my mobile device?</a><br />
            <a href="#6">Do I need an account to play Apollo?</a><br />
            <a href="#7">Why do I need an Apollo Account?</a><br />
            <a href="#8">Do I need an internet connection to play Apollo?</a><br />
            <a href="#9">How much are card packs?</a><br />
            <a href="#10">Can I refund a card pack?</a><br />
            <a href="#11">Who do I contact if I’m having trouble playing Apollo?</a><br />
            <a href="#12">How can I make suggestions to developers?</a><br /><br />
            <font color="white">
                Apollo is an online trading card game (TCG) set in the future.
                Collect cards to build your space armada and defeat your opponent to become the ruler of the star system.
                Build up your fleet with a wide variety of ships, troops, and races as you try to eliminate your opponents forces.

                <h4>Business Background:</h4>
                1.<b>Business: </b>Raven Games is a gaming entertainment company established in 2018 and located in Jacksonville Florida. It is owned by three students at the University of North Florida .<br /><br />
                <div class="b">a) <b>Origin:</b> The three students had initially started Raven Games for class project, but with initial support, decided to continue and create a full-fledged company long after the assignment was completed.</div>
                <div class="b">b) <b>Products: </b>Currently, Apollo is the one and only product offered by Raven Games but that is planned to change in the future. With other games on the horizon, Apollo will not be left behind. All products from Raven Games will be support for years to comes, regardless of player base size.</div><br />
                2.<b>Mission: </b>Raven Games is determined to provide a unique and enjoyable collectable card gaming experience in multiple different ways:<br /><br />
                <div class="b">a)<b>Pricing: </b>Apollo is free to play, allowing people to enjoy endless of hours of entertainment at no cost. We do offer very competitive pricing for extra card packs and story DLC should users want to support the company or expedite their card collection.</div>
                <div class="b">b)<b>Community: </b>Apollo is extremely community focused, down to letting the community decide on future updates and cards for every new feature that comes to the game.</div>
                <div class="b">c)<b>Updates: </b>New features will come swiftly into the game, no waiting months for updates from developers. We experiment along with the community and will not keep updates or balancing changes behind closed doors.</div>
                <div class="b">d)<b>Support: </b>We offer a top tier support system for our users. Responding to all concerns via email within 24 hours.</div><br />
                3.<b>Board Members: </b>The presidents of Raven Games are currently the three college students that originally started the company. Brandon Bradlee, Joseph Betbeze, and Daniel Cassel. Along with co owning the company, the three also advise the company’s branches of Account Services, Creative Services, Marketing and Management.<br /><br />
                4.<b>Tax Policy: </b>Tax pricing varies from state to state in the US, but our pricing does not. If you live in a state with 6% sales tax or 7% sales tax, you will always pay the listed price on the website which will always be the same regardless of your location. Raven Games will take the hit on the sales tax for our customers regardless of where they are from in the US.<br />


            </font>
        </p>
        <h3 style="color:#ffffff">FAQ</h3>
        <p>

            <a name="1"></a><h4 style="color:#587bff">What is Apollo?</h4>
                            <font color="white">
                                Apollo is a free to play digital strategy card game.
                                <a name="2"></a>
                                <h4 style="color:#587bff">Do I need to know anything about strategy card games or space technology to know how to play?</h4>
                                Nope! Apollo was designed to be played by anyone regardless of how familiar they are with strategy card games or space technology. The game will teach you as you play.
                                <a name="3"></a>
                                <h4 style="color:#587bff">On which platforms is Apollo available?</h4>
                                Apollo is currently only available on PC systems.
                                <a name="4"></a><h4 style="color:#587bff">How do I get my hands on this game?</h4>
                                Click this <a href="">link</a> to download the game.
                                <a name="5"></a><h4 style="color:#587bff">How can I play this game on my mobile device?</h4>
                                Currently Apollo is not playable on mobile devices
                                <a name="6"></a><h4 style="color:#587bff">Do I need an account to play Apollo?</h4>
                                Yes. In order to play Apollo you must be signed into your Apollo account.
                                <a name="7"></a><h4 style="color:#587bff">Why do I need an Apollo Account?</h4>
                                Your account allows us to keep track of what cards you’ve earned, in addition to all your stats as a player. Your Apollo account can also be used for the community forum and in responding to online polls.
                                <a name="8"></a><h4 style="color:#587bff">
                                    Do I need an internet connection to play Apollo?
                                </h4>
                                Yes. In order to play Apollo you must be sign into your Apollo account which does require internet access.
                                <a name="9"></a><h4 style="color:#587bff">How much are card packs?</h4>
                                1 card pack - $.99<br />
                                2 card pack - $1.99<br />
                                5 card pack - $3.99<br />
                                10 card pack - $5.99<br />
                                25 card pack - $11.99<br />
                                50 card pack - $19.99<br /><br />

                                Story DLC is also available:<br />
                                Rogues Story Expansion - $19.99<br />
                                Android Core Story Expansion - $19.99<br />
                                Enhanced Humans Expansion - $19.99<br /><br />
                                <a href="http://localhost:65225/Product/List/?Page=1">Purchase card packs now</a>
                                <a name="10"></a><h4 style="color:#587bff">
                                    Can I refund a card pack?
                                </h4>
                                Unfortunately, with the nature of our game we cannot allow returns for any purchases. Our card packs are randomized and set upon purchase. Were we to allow returns it could open a door for people to be able to see what they got in packs and then return them if they did not contain exactly what they wanted. The same goes for our story DLCs which earn the player packs and special cards during their playthrough.
                                <a name="11"></a><h4 style="color:#587bff">
                                    Who do I contact if I’m having trouble playing Apollo?
                                </h4>
                                Please send an email to our customer support email <a href="n01300511@ospreys.unf.edu">Support@raven.com</a> and we’ll get back to you as soon as possible. Visit our <a href="Contact">Contact</a> page to learn more.
                                <a name="12"></a><h4 style="color:#587bff">
                                    How can I make suggestions to developers?
                                </h4>
                                Try our online polls <a href="Poll">here</a>, or contact our support team <a href="Contact">here</a>
                            </font>
        </p>
    </div>
</body>
