@{
    ViewData["Title"] = "Contact";
}
<h2 style="color:#ffffff">@ViewData["Title"]</h2>


<style>
html, body { background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/78/Dark_Rift_2012.jpg"); background-repeat: repeat-x; background-size: cover; width: 100%; height: 100%; }

    div.transbox {
        margin: 30px;
        background-color: #000000;
        background: rgba(31, 29, 29, 0.50);
        padding: 10px;
    }
</style>
<body>
    <div class="transbox">
        <p>
            <font color="white">
                Raven games support is avaiable 8:00 Am - 8:00 PM EST, 7 days a week.
            </font>
        </p>
        <font color="white">
            <address>
                One Raven Dr.<br />
                Jacksonville, FL 32222<br />
                <abbr title="Phone">P:</abbr>
                904.626.1610
            </address>

            <address>
                <strong>Support:</strong> <a href="n01300511@ospreys.unf.edu">Support@raven.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@raven.com</a>
            </address>
        </font>
    </div>
</body>

