@{
    ViewData["Title"] = "Legal";
}
<h2 style="color:#ffffff">@ViewData["Title"]</h2>


<style>
    html, body {
        background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15417_hires.jpg");
        background-repeat: repeat-y;
        background-size: auto;
        width: 100%;
        height: 100%;
    }


    div.transbox {
        margin: 30px;
        background-color: #000000;
        background: rgba(31, 29, 29, 0.50);
        padding: 10px;
    }

    div.a {
        text-indent: 50px;
    }
</style>
<body>
    <div class="transbox">
        <p>
        <font color="white">
            <h4>1.	The Platform</h4>
            a)	<b>Apollo Account:</b> To use this title you must register or have previously registered an Apollo account on the official website for the game.<br /><br /> Accounts are subjected to the following terms and conditions:
            <div class="a">
                I.	You may create an account only if: you are a “natural person”, are 18 years of age or <div class="a">above, or have parental consent if you are under 18.<br /></div>
            </div>
            <div class="a">
                II.	By establishing an account, you are agreeing to all terms of service in this contract.<br />
            </div>
            <div class="a">
                III.	Information regarding your personal details are be accurate, including but not limited to: <div class="a">name, email, country of origin, and age.</div><br />
            </div>
            b)	<b>Grant of License:</b> If you agree and accept the terms of this Agreement, Raven Games will grant you, the owner of the account the non-exclusive rights to use the Platform for your personal entertainment.<br /><br /> Rights granted to you are the following:
            <div class="a">
                I.	You may install or uninstall the application and any other downloadable content provided by <div class="a">Raven Games for Apollo.</div>
            </div>
            <div class="a">
                II.	You may use the platform for your personal and non-commercial entertainment purposes <div class="a">only, unless specifically allowed under the agreement.</div>
            </div>
            <div class="a">
                III.	You may not transfer your rights and obligations of this platform to any other individual.
            </div>
            <div class="a">
                IV.	You may not make copies of the application, distribute the application, or modify the <div class="a">
                    application in any way besides stated above.
                </div><br />
            </div>
            c)	<b>License Limitations: </b>Raven Games may suspend or revoke your license to use this Platform, or parts, components and features should you personally, or assist others int violating the terms within this agreement. <br><br />By agreeing to this contract, you adhere that you will not in whole or in part do the following:
            <div class="a">
                I.	Derivative Works: Copy or reproduce, translate, reverse engineer, derive source code from,<div class="a">
                    modify, disassemble, decompile, or create derivative works based on or related to the Platform.
                </div>
            </div>
            <div class="a">
                II.	Cheat: Create, use, offer, promote, advertise or make available any tool that cheats, or<div class="a">
                    assists in cheating, including but not limited to: bots, hacking, and any other third-party tools
                </div><div class="a"> used with the Platform.</div>
            </div>
            <div class="a">
                III.	Community Disrupt: Causing offense, or abuse on fellow players or developers of the <div class="a">
                    platform. Harassment, “griefing”, abusive chat or any other type of conduct that might be
                </div><div class="a">considered unsportsmanlike, could fall under this term.<br /></div>
            </div>
            d)	<b>Game Features:</b> Acceptors of this contract will gain the right to use any and all official features related to the Platform they have specifically agreed to.

            <h4>2.	Raven Game’s Ownership</h4>
            a)	As the sole owner of the Platform, Raven Games holds the rights and licenses to all assets within the product including but not limited to:
            <div class="a">
                I.	Visual Components: Locations, artworks, animations, and audio-visual effects.
            </div>
            <div class="a">
                II.	Narrations: Themes, concepts, stories, and storylines.
            </div>
            <div class="a">
                III.	Characters: The names, likenesses, backgrounds, or iconic voice lines.
            </div>
            <div class="a">
                IV.	Items: Virtual goods, such as digital cards, card packs, storyline packages, etc.
            </div>

            <h4>3.	Alterations in Agreement</h4>
            a)	<b>Changes in Agreement:</b>
            <div class="a">
                I.	Should the contract that an individual had previously agreed to is updated or modified in any <div class="a">
                    way, the user will be prompted to read over the new agreement and decide whether they wish
                </div><div class="a">
                    to accept or not.
                </div>
            </div>
            b)	<b>Termination of Agreement:</b>
            <div class="a">
                I.	You are entitled to terminate this Agreement at any time by notifying Raven Games by email <div class="a">
                    at support@RavenGames.com.
                </div>
            </div>
            <div class="a">
                II.	Raven Games reserves the right to terminate this Agreement at any time for any reason.
            </div><div class="a">
                The individual whose contract has been terminated will be notified and will be given the chance
            </div><div class="a"> to plead innocent should they believe themselves to be. Not contacting us and pleading</div> <div class="a">innocence is an admission of guilt. In the meantime of a case in which the individual pleads</div><div class="a"> non-guilty, their contract and account will be temporarily suspended until the specific</div> <div class="a">
                case has been reviewed and a outcome is found. Raven Games is the sole arbiter in whether </div><div class="a">an appeal case is found guilty or innocent. To start an appeal case, contact </div><div class="a">support@RavenGames.com.</div>
        </font>
        </p>
    </div>
</body>

