@model SportsStore.Models.Polling
@{
}
<!DOCTYPE html>
<style>
    html, body {
        background-image: url("https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA15417_hires.jpg");
        background-repeat: repeat-x;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    div.transbox {
        margin: 30px;
        background-color: #000000;
        background: rgba(31, 29, 29, 0.50);
        padding: 10px;
        
    }
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>


<body class="text-center">
    <div class="transbox">
        <p style="color:#ffffff">
            <h1 style="color:#ffffff">Thank you @*//, @Model.Name!*@</h1>
            <p style="color:#ffffff">Thank you for your input!</p>
        
        <p> <a class="nav-link" asp-action="">Home</a></p>
    </div>
</body>
